.footer {
    border-top: 1px rgba(33, 33, 33, 0.4) solid;
    margin-bottom: 60px;
    padding-bottom: 40px;
    gap: 20px;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer__txt {
    margin-top: 60px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: center;
    color: #212121;
    opacity: 0.7;
}

@media screen and (max-width: 627px) {
    .footer {
        width: 288px;
    }
}

